/*html*/
html{
    background-color: #000000;
}

/*Body*/
body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-family: "Courier New";
}

/* NAV BAR*/
nav{
    /*basic layout*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*extras*/
    background-color: transparent;
    margin-top: 5px;
    margin: 0 30px;
}
nav .logo{
    /*basic layout*/
    display: flex;
    /*extras*/
    align-items: center;
}

.logo p{
    color: #a5a59d;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}

.links a{
    color: #a5a59d;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}

/*HEADER SECTION*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    color: #a5a59d;
    margin: 30px;
    padding: 0 20px;
    height: 400px;
    border: solid #596269;
}

.header .info{
    max-width: 50%;
}

#one{
    font-size: 48px;
}

#one #A{
    color: #041423;
}
#one #B{
    color: #47585c;
}
#one #C{
    color: #946444;
}

#two,
#three{
    font-size: 18px;
    flex-wrap: wrap;
}


/*SECTION TWO*/
/*SECTION THREE*/
/*SECTION FOUR*/
/*FOOTER*/
